%h1 Listing notebooks

%table
  %thead
    %tr
      %th Name
      %th Public
      %th Adapter
      %th Pack
      %th State
      %th User
      %th
      %th
      %th

  %tbody
    - @notebooks.each do |notebook|
      %tr
        %td= notebook.name
        %td= notebook.public
        %td= notebook.adapter
        %td= notebook.pack
        %td= notebook.state
        %td= notebook.user.name
        %td= link_to 'Show', notebook, data: { turbolinks: 'false' }
        %td= link_to 'Edit', edit_notebook_path(notebook)
        %td= link_to 'Destroy',
          notebook, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Notebook', new_notebook_path
