%p#notice= notice

%p
  %b Name:
  = @notebook.name
%p
  %b Public:
  = @notebook.public
%p
  %b Adapter:
  = @notebook.adapter
%p
  %b Pack:
  = @notebook.pack
%p
  %b State:
  = @notebook.state
%p
  %b User:
  = @notebook.user

= link_to 'Edit', edit_notebook_path(@notebook)
\|
= link_to 'Back', notebooks_path
