#loading-wrapper
  %p.loading-message
    loading cedefop component
  #loading
.row
  .large-12.columns
    %h1 Components#cedefop
    %p Find me in app/views/components/cedefop.html.haml
    =link_to :components, components_path

    - content_for :head do
      = javascript_pack_tag 'highlight'
    :ruby
      code = File.read(__FILE__)
      .gsub('.demo','')
      .lines[13..-6].join.squeeze("\n") # 0-indexed array

    :ruby
      data = {
        component: 'cedefop',
        id: "cedefop-#{rand(100)}",
        data_uri: dataset_path(1, format: :json),
        geojson_uri: "/data/europe.geo.json"
      }

    = content_tag(:div,
      id: data[:id],
      data: data.to_json,
      class: "#{data[:component]}-component" ) do
      .map-container
        .map
      .timeline-container
        .timeline
      .nut-chart-container
        .nut-chart
      .esco-chart-container
        .esco-chart
      .season-chart-container
        .season-chart
      %a.button.reset reset
    .row
      .large-12.columns
        %h1 Layout Code
        %pre.haml
          %code.haml #{code}
