%p#notice= notice
.dataset-info
  %h1
    = @dataset.name
  %p source:
  %pre
    = @dataset.uri
    = link_to 'link', @dataset.uri

  %p
    = @dataset.description

#dataset-chart
  .row.map-container
    .map

  .append-here

  .row.charts-container
    .left-column
      .pie-chart
    .right-column
      .line-chart
      .bar-chart
  %a.reset-all.button{href: '#'} Reset charts
%pre.debug
- if @dataset.is_a? SparkDataset
  :coffee
    Map.summary_map3 '#dataset-chart', "#{@dataset.id}.json", cedefop_names_map, "vis1"
- else
  - if @dataset.name == "gsac dataset"
    - g = "/geojson/3/EL.json"
  - else
    - g = "/geojson/0.json"
  :coffee
    Map.v4 '#dataset-chart', "#{@dataset.id}.json", "#{g}", "v4map"
