<% content_for(:title){"Ruby on Rails"} %>
<% content_for :head do %>
  <style type="text/css" media="screen" charset="utf-8">
    body {
      font-family: Georgia, sans-serif;
      line-height: 2rem;
      font-size: 1.3rem;
      background-color: white;
      margin: 0;
      padding: 0;
      color: #000;
    }

    h1 {
      font-weight: normal;
      line-height: 2.8rem;
      font-size: 2.5rem;
      letter-spacing: -1px;
      color: black;
    }

    p { font-family: monospace; }

    .container {
      width: 960px;
      margin: 0 auto 40px;
      overflow: hidden;
    }


    section {
      margin: 0 auto 2rem;
      padding: 1rem 0 0;
      width: 700px;
      text-align: center;
    }
  </style>
<% end %>

<div class="container">
  <section>
    <p>
      <a href="http://rubyonrails.org">
        <%= image_tag "rails_logo.svg", alt: "Ruby on Rails", width: 130, height: 46 %>
      </a>
    </p>

    <h1>Yay! You&rsquo;re on Rails!</h1>
    <%= image_tag "welcome.jpg", alt: "Welcome", width: 600, height: 350 %>

    <p class="version">
      <strong>Rails version:</strong> <%= Rails.version %><br />
      <strong>Ruby version:</strong> <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)<br />
      <strong>Environment:</strong> <%= Rails.env %><br />
      <strong>React:</strong>
      <%= content_tag :span,
        id: "hello-react",
        data: {
          message: 'Hello!',
          name: 'David'
        }.to_json do %>
      <% end %>
    </p>
  </section>
</div>
