%h1 Listing chunks

%table
  %thead
    %tr
      %th id
      %th code
      %th key
      %th size
      %th time
      %th

  %tbody
    - @chunks.each do |chunk|
      %tr
        %td= chunk.id
        %td= chunk.code
        %td= chunk.key
        %td= number_to_human_size(chunk.byte_size)
        %td= number_to_human_seconds(chunk.computation_time)
        %td= link_to 'Show', chunk_path(chunk)

%br

=# link_to 'New Chunk', new_chunk_path
