%p#notice= notice
%p
  %b Key:
  = @chunk.key
%p
  %b Code:
%pre
  = @chunk.code
%p
  %b Size:
  = @chunk.byte_size
%p
  %b Notebook:
  = @chunk.notebook.id
%p
  %b Computation time:
  = @chunk.computation_time
%pre
  = JSON.pretty_generate(JSON.parse(File.read(@chunk.path)))
