!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title= content_for?(:title) ? yield(:title) : "Statistics"
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag    'application'
    = javascript_pack_tag    'hello_react'
    -if Rails.env.development?
      %script{src: "http://#{request.host}:35729/livereload.js?snipver=1" }
    = yield(:head)
  %body
    = yield
