!!!
%html
  %head
    %title Statistics
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -if Rails.env.development?
      %script{src: "http://#{request.host}:35729/livereload.js?snipver=1" }
  %body{data: { "no-turbolink" => true }}
    = yield
